# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
backend/dist
dist-ssr
*.local
*.kiro

*.db
*.db-shm
*.db-wal
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
*.db
*.db-shm
*.db-wal
frontend/src/routeTree.gen.ts
frontend/.tanstack/tmp/router-generator-QwK0SG/b71a3937b1b59cff23ad5de484ba2a50

frontend/.tanstack/tmp/*
frontend/src/routeTree.*
.roo/mcp.json
.github/chatmodes/BeastMode.chatmode.md
frontend/.github/instructions/tanstack-react-router_api.instructions.md
frontend/.github/instructions/tanstack-react-router_guide.instructions.md
frontend/.github/instructions/tanstack-react-router_routing.instructions.md
frontend/.github/instructions/tanstack-react-router_setup-and-architecture.instructions.md
.github/README_DEPLOY.md
frontend/test-results/
.desloppify/
